@import "https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-barcode: "Libre Barcode 128 Text", system-ui;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-barcode: var(--font-barcode);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barcode);
  font-weight: 400;
  font-style: normal;
}